html {
    font-family: 'Noto Sans TC', sans-serif;
}

html .body-wrapper {
    padding: 20px;
    margin: 0 auto;
    max-width: 960px;
}
header {
    position: relative;
    border-bottom: 1px solid #ffffff0f;
    padding: 10px 0;
}

.pan-light-mode header {
    border-bottom: 1px solid #2525250f;
}

header .logo {
    display: inline-block;
/*    font-size: 32px;*/
    font-size: 20px;
    margin-left: 10px;
}

p {
    font-size: 26px;
}

@media all and (min-width: 768px) {
    p {
        font-size: 42px;
    }
}

#first-square,
#second-square,
#third-square {
    height: 100px;
    width: 100px;
    display: inline-block;
    border-radius: 16px;
    margin: 10px;
}

.pan-light-mode #first-square {
    background: #131313
}

.pan-light-mode #second-square {
    background: #353535
}

.pan-light-mode #third-square {
    background: #515151
}

.pan-dark-mode #first-square {
    background: #f3f3f3
}

.pan-dark-mode #second-square {
    background: #d2d2d2
}

.pan-dark-mode #third-square {
    background: #a0a0a0
}