#theme-toggle {

}

#theme-toggle .button-wrapper {
    display: inline-block;
    position: absolute;
/*    top: 18px;*/
    right: 20px;
    top: 53%;
    transform: translateY(-50%);
    cursor: pointer;
}

.button-wrapper svg#moon {
    color: #d7d7d7
}

.pan-light-mode .button-wrapper svg#moon {
    display: none;
}

.pan-dark-mode .button-wrapper #sun {
    display: none;
}

html {
    transition: background-color .5s ease-in;
}

html.pan-light-mode {
    background-color: #fbffe7;
}

html.pan-dark-mode {
/*    background-color: #141414;/*/
    background-color: #131321;
    color: #d7d7d7
}
